@charset "UTF-8";
@font-face {
  font-family: DrukCyr;
  font-display: swap;
  src: url("../fonts/DrukCyr-Medium.woff2") format("woff2"), url("../fonts/DrukCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Moniqa;
  font-display: swap;
  src: url("../fonts/Moniqa-MediumDisplay 500.woff2") format("woff2"), url("../fonts/Moniqa-MediumDisplay 500.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Moniqa;
  font-display: swap;
  src: url("../fonts/Moniqa-NarrowDisplay 400.woff2") format("woff2"), url("../fonts/Moniqa-NarrowDisplay 400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: YanoneKaffeesatz;
  font-display: swap;
  src: url("../fonts/YanoneKaffeesatz-Light.woff2") format("woff2"), url("../fonts/YanoneKaffeesatz-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: YanoneKaffeesatz;
  font-display: swap;
  src: url("../fonts/YanoneKaffeesatz-Regular.woff2") format("woff2"), url("../fonts/YanoneKaffeesatz-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-star-nobg:before {
  content: "\e903";
}

._icon-arrow:before {
  content: "\e900";
}

._icon-arrow-slider:before {
  content: "\e901";
}

._icon-star:before {
  content: "\e902";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #9E938E;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 78.375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.title {
  text-transform: uppercase;
  font-family: YanoneKaffeesatz;
  font-weight: 300;
  color: #736C68;
  position: relative;
  z-index: 5;
}
@media (min-width: 80.25em) {
  .title {
    font-size: 3.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .title {
    font-size: clamp( 2.125rem , 1.6478215768rem  +  2.3858921162vw , 3.5625rem );
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 2.125rem;
  }
}
.title span {
  font-family: DrukCyr;
  font-weight: 500;
  line-height: 0.85;
  color: #BD7E69;
  display: block;
}
@media (min-width: 80.25em) {
  .title span {
    font-size: 11.875rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .title span {
    font-size: clamp( 5.625rem , 3.5503112033rem  +  10.3734439834vw , 11.875rem );
  }
}
@media (max-width: 20em) {
  .title span {
    font-size: 5.625rem;
  }
}

.button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  min-height: 3.875rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3125rem 2.8125rem;
  transition: all 0.3s ease 0s;
  border-radius: 50% 50%;
  border-bottom: 1px solid transparent;
}
@media (any-hover: hover) {
  .button:hover {
    transform: scale(1.2);
  }
}
.button::before {
  content: "";
  background: center/contain no-repeat url("../img/border.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.button span {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 22px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #BD7E69;
}
.button span::before {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(21px, -50%);
  font-size: 0.8125rem;
  color: #9E938E;
  z-index: 2;
}

.back {
  position: relative;
}
@media (min-width: 80.25em) {
  .back {
    padding-top: 6.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .back {
    padding-top: clamp( 1.25rem , -0.4304979253rem  +  8.4024896266vw , 6.3125rem );
  }
}
@media (max-width: 20em) {
  .back {
    padding-top: 1.25rem;
  }
}
.back::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.back_1 {
  background: center/cover no-repeat url("../img/background/1.png");
}
.back_2 {
  background: center/cover no-repeat url("../img/background/2.jpg");
}
.back_3 {
  background: center/cover no-repeat url("../img/background/3.png");
}
.back_4 {
  background: center/cover no-repeat url("../img/background/4.jpg");
}

.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(186, 194, 202, 0.3);
  overflow: hidden;
}
.header__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-left: -30px;
  position: relative;
  z-index: 10;
}
@media (min-width: 80.25em) {
  .header__logo img {
    width: 12.75rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .header__logo img {
    width: clamp( 9.375rem , 8.2546680498rem  +  5.601659751vw , 12.75rem );
  }
}
@media (max-width: 20em) {
  .header__logo img {
    width: 9.375rem;
  }
}
@media (min-width: 80.25em) {
  .header__logo img {
    height: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .header__logo img {
    height: clamp( 5.5rem , 4.8360995851rem  +  3.3195020747vw , 7.5rem );
  }
}
@media (max-width: 20em) {
  .header__logo img {
    height: 5.5rem;
  }
}
@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #BD7E69;
    transform: translateX(100%);
    transition: transform 0.3s ease 0s;
    padding: 6.25rem 0;
  }
  .menu-open .menu__body {
    transform: translateX(0);
  }
}
.menu__list {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 80.25em) {
  .menu__list {
    gap: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .menu__list {
    gap: clamp( 0.625rem , 0.1063278008rem  +  2.5933609959vw , 2.1875rem );
  }
}
@media (max-width: 20em) {
  .menu__list {
    gap: 0.625rem;
  }
}
@media (max-width: 61.99875em) {
  .menu__list {
    display: block;
    padding: 0 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .menu__item:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.menu__link {
  font-size: 1.125rem;
  padding: 0 0.3125rem;
  line-height: 133%;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    border-bottom: 1px solid #9E938E;
  }
}
@media (max-width: 61.99875em) {
  .menu__link {
    color: #fff;
    font-size: 1.5625rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    position: fixed;
    top: 2.1875rem;
    right: 1.25rem;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #BD7E69;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span, .menu-open .icon-menu::before, .menu-open .icon-menu::after {
    background-color: #fff;
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer {
  padding-top: 0.8125rem;
  padding-bottom: 0.8125rem;
}
.footer__row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
  margin-left: -2rem;
}
@media (max-width: 61.99875em) {
  .footer__row {
    flex-direction: column;
    margin: 0;
  }
}
.footer__phone-number {
  flex: 0 0 13.25rem;
  font-family: YanoneKaffeesatz;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.27;
  text-align: right;
  text-transform: uppercase;
  color: #7C7373;
  transition: opacity 0.3s ease 0s;
}
@media (max-width: 61.99875em) {
  .footer__phone-number {
    flex-basis: auto;
  }
}
@media (any-hover: hover) {
  .footer__phone-number:hover {
    opacity: 0.6;
  }
}

.menu-footer {
  flex: 1 1 auto;
  padding-left: 1.1875rem;
  padding-right: 4.375rem;
}
@media (max-width: 61.99875em) {
  .menu-footer {
    padding: 0;
    width: 100%;
  }
}
.menu-footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9375rem;
  flex-wrap: wrap;
}
@media (max-width: 61.99875em) {
  .menu-footer__list {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 47.99875em) {
  .menu-footer__list {
    flex-direction: column;
  }
}
@media (max-width: 47.99875em) {
  .menu-footer__item {
    text-align: center;
  }
}
.menu-footer__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #9E938E;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    border-bottom: 1px solid #9E938E;
  }
}

.social-footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2.125rem;
  transition: opacity 0.3s ease 0s;
}
@media (any-hover: hover) {
  .social-footer:hover {
    opacity: 0.6;
  }
}
.social-footer__item_instagram {
  width: 2.0625rem;
  height: 2.0625rem;
}
.social-footer__item_facebook {
  width: 2.5rem;
  height: 2.5rem;
}

.page__main-screen {
  position: relative;
}
.main-screen {
  min-height: 56.25rem;
  overflow: hidden;
}
@media (min-width: 80.25em) {
  .main-screen {
    padding-top: 7.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .main-screen {
    padding-top: clamp( 5.5rem , 4.8153526971rem  +  3.4232365145vw , 7.5625rem );
  }
}
@media (max-width: 20em) {
  .main-screen {
    padding-top: 5.5rem;
  }
}
.main-screen::before {
  background: center/cover no-repeat url("../img/main-screen/back.jpg");
}
@media (max-width: 61.99875em) {
  .main-screen {
    min-height: auto;
  }
}
.main-screen__container {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
@media (max-width: 61.99875em) {
  .main-screen__container {
    display: block;
  }
}
.main-screen__body {
  position: relative;
  z-index: 2;
  flex: 0 1 51.3535031847%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media (min-width: 80.25em) {
  .main-screen__body {
    padding-top: 8.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .main-screen__body {
    padding-top: clamp( 1.25rem , -1.0529045643rem  +  11.5145228216vw , 8.1875rem );
  }
}
@media (max-width: 20em) {
  .main-screen__body {
    padding-top: 1.25rem;
  }
}
@media (min-width: 80.25em) {
  .main-screen__body {
    padding-bottom: 8.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .main-screen__body {
    padding-bottom: clamp( 1.25rem , -1.0529045643rem  +  11.5145228216vw , 8.1875rem );
  }
}
@media (max-width: 20em) {
  .main-screen__body {
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .main-screen__body {
    flex: 1 1 auto;
  }
}
.main-screen__subtitle {
  display: inline-block;
  font-size: 0.6875rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #11263A;
  padding: 0.625rem 1.125rem;
  background: #F2F6FA;
  border-radius: 5px;
}
.main-screen__title {
  line-height: 1.3;
  text-align: end;
}
@media (min-width: 80.25em) {
  .main-screen__title {
    margin-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .main-screen__title {
    margin-bottom: clamp( 1.25rem , 0.005186722rem  +  6.22406639vw , 5rem );
  }
}
@media (max-width: 20em) {
  .main-screen__title {
    margin-bottom: 1.25rem;
  }
}
.main-screen__title span {
  margin-bottom: 1.0625rem;
  background: radial-gradient(101.1% 238.92% at -0.39% 127.21%, #682A15 0%, rgba(104, 42, 21, 0) 100%), radial-gradient(87.12% 181.44% at 86.95% -7.83%, #DC6F4A 0%, rgba(220, 111, 74, 0) 100%), radial-gradient(50% 50% at 50% 50%, #682A15 0%, rgba(104, 42, 21, 0) 100%), radial-gradient(50% 50% at 50% 50%, #DC6F4A 0%, rgba(220, 111, 74, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-screen__button {
  position: relative;
  min-height: 3.875rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3125rem 1.875rem;
  align-self: start;
}
@media (min-width: 80.25em) {
  .main-screen__button {
    margin-right: 8.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .main-screen__button {
    margin-right: clamp( 1.25rem , -1.0943983402rem  +  11.7219917012vw , 8.3125rem );
  }
}
@media (max-width: 20em) {
  .main-screen__button {
    margin-right: 1.25rem;
  }
}
.main-screen__image {
  position: absolute;
  margin: 0 -0.9375rem;
  width: 76.1875rem;
  height: 100%;
  top: 0;
  left: 75%;
  transform: translateX(-49%);
}
.main-screen__image-ibg {
  padding-bottom: 65.9557013946%;
}
@media (max-width: 61.99875em) {
  .main-screen__image {
    left: 0;
    transform: none;
    position: relative;
    width: calc(100% + 1.875rem);
    border-top: 1px solid rgba(186, 194, 202, 0.3);
    border-bottom: 1px solid rgba(186, 194, 202, 0.3);
  }
}

@media (min-width: 80.25em) {
  .information {
    padding-top: 6.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .information {
    padding-top: clamp( 1.25rem , -0.4304979253rem  +  8.4024896266vw , 6.3125rem );
  }
}
@media (max-width: 20em) {
  .information {
    padding-top: 1.25rem;
  }
}
.information__title {
  text-align: center;
}
.information__row {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
  margin-top: -4.4375rem;
}
@media (max-width: 47.99875em) {
  .information__row {
    display: block;
    margin-top: 0;
  }
}
.information__column:first-child, .information__column:last-child {
  flex: 0 1 22.0625rem;
  padding-top: 7.25rem;
}
@media (max-width: 47.99875em) {
  .information__column:first-child, .information__column:last-child {
    padding-top: 1.25rem;
  }
}
.information__column:nth-child(2) {
  flex: 0 1 28.8125rem;
  align-self: end;
}
.information__column:last-child .item-information__title {
  flex-direction: row;
  text-align: right;
}
.information__column:last-child .item-information__block {
  padding-left: 0;
  padding-right: 1.75rem;
}
@media (max-width: 47.99875em) {
  .information__column:last-child .item-information__block {
    padding-left: 0;
  }
}
.information__column:last-child .item-information__text {
  text-align: left;
}
@media (max-width: 61.99875em) {
  .information__column:nth-child(2) {
    display: none;
  }
}
.information__image-ibg {
  width: 100%;
  padding-bottom: 177.2234273319%;
}

@media (min-width: 80.25em) {
  .item-information:not(:last-child) {
    margin-bottom: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .item-information:not(:last-child) {
    margin-bottom: clamp( 1.25rem , -0.2022821577rem  +  7.2614107884vw , 5.625rem );
  }
}
@media (max-width: 20em) {
  .item-information:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.item-information__title {
  font-weight: 500;
  line-height: 1.33;
  text-align: right;
  text-transform: uppercase;
  color: #837C78;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.625rem;
}
@media (min-width: 80.25em) {
  .item-information__title {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .item-information__title {
    font-size: clamp( 1rem , 0.8755186722rem  +  0.622406639vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .item-information__title {
    font-size: 1rem;
  }
}
.item-information__title::before {
  color: #FFC9C9;
}
@media (min-width: 80.25em) {
  .item-information__title::before {
    font-size: 2.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .item-information__title::before {
    font-size: clamp( 1.875rem , 1.6467842324rem  +  1.1410788382vw , 2.5625rem );
  }
}
@media (max-width: 20em) {
  .item-information__title::before {
    font-size: 1.875rem;
  }
}
.item-information__block {
  padding-left: 1.75rem;
}
@media (max-width: 47.99875em) {
  .item-information__block {
    padding-left: 0;
  }
}
.item-information__text {
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(186, 178, 178, 0.1);
  border-radius: 17px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.33;
  text-align: right;
  color: rgba(155, 146, 142, 0.79);
  padding: 0.8125rem 1.25rem;
}

@media (min-width: 80.25em) {
  .offer {
    padding-top: 7.875rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .offer {
    padding-top: clamp( 1.25rem , -0.9491701245rem  +  10.9958506224vw , 7.875rem );
  }
}
@media (max-width: 20em) {
  .offer {
    padding-top: 1.25rem;
  }
}
@media (min-width: 80.25em) {
  .offer {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .offer {
    padding-bottom: clamp( 1.25rem , 0.627593361rem  +  3.112033195vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .offer {
    padding-bottom: 1.25rem;
  }
}
.offer__title {
  text-align: center;
}
@media (min-width: 80.25em) {
  .offer__title {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .offer__title {
    margin-bottom: clamp( 1.25rem , 0.4201244813rem  +  4.1493775934vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .offer__title {
    margin-bottom: 1.25rem;
  }
}
.offer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 80.25em) {
  .offer__list {
    gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .offer__list {
    gap: clamp( 1.25rem , 0.8350622407rem  +  2.0746887967vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .offer__list {
    gap: 1.25rem;
  }
}
.offer__item {
  flex: 0 1 17.5rem;
}

.item-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item-offer__image {
  flex: 0 1 17.5rem;
  display: flex;
  align-items: center;
}
.item-offer__image img {
  width: 100%;
  height: auto;
}
.item-offer__title {
  padding: 0 0.625rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
  color: #837C78;
}
@media (min-width: 80.25em) {
  .item-offer__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .item-offer__title {
    font-size: clamp( 1.9375rem , 1.8337655602rem  +  0.5186721992vw , 2.25rem );
  }
}
@media (max-width: 20em) {
  .item-offer__title {
    font-size: 1.9375rem;
  }
}

@media (min-width: 80.25em) {
  .program {
    padding-top: 7.875rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .program {
    padding-top: clamp( 1.25rem , -0.9491701245rem  +  10.9958506224vw , 7.875rem );
  }
}
@media (max-width: 20em) {
  .program {
    padding-top: 1.25rem;
  }
}
@media (min-width: 80.25em) {
  .program {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .program {
    padding-bottom: clamp( 1.25rem , 0.627593361rem  +  3.112033195vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .program {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 80.25em) {
  .program {
    min-height: 77.25rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .program {
    min-height: clamp( 25rem , 7.6556016598rem  +  86.7219917012vw , 77.25rem );
  }
}
@media (max-width: 20em) {
  .program {
    min-height: 25rem;
  }
}
@media (max-width: 61.99875em) {
  .program {
    min-height: auto;
    padding-bottom: 0;
  }
}
.program__title {
  text-align: center;
}
@media (min-width: 80.25em) {
  .program__title {
    margin-bottom: 5.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .program__title {
    margin-bottom: clamp( 1.25rem , -0.3060165975rem  +  7.7800829876vw , 5.9375rem );
  }
}
@media (max-width: 20em) {
  .program__title {
    margin-bottom: 1.25rem;
  }
}
.program__block {
  padding-left: 3.625rem;
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 47.99875em) {
  .program__block {
    padding-left: 0;
  }
}
.program__image-ibg {
  position: absolute;
  z-index: 5;
  left: 50%;
  bottom: 0;
  transform: translateX(-46%);
}
@media (min-width: 80.25em) {
  .program__image-ibg {
    width: 71.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .program__image-ibg {
    width: clamp( 20rem , 2.8838174274rem  +  85.5809128631vw , 71.5625rem );
  }
}
@media (max-width: 20em) {
  .program__image-ibg {
    width: 20rem;
  }
}
@media (min-width: 80.25em) {
  .program__image-ibg {
    padding-bottom: 62.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .program__image-ibg {
    padding-bottom: clamp( 18.375rem , 3.8729253112rem  +  72.510373444vw , 62.0625rem );
  }
}
@media (max-width: 20em) {
  .program__image-ibg {
    padding-bottom: 18.375rem;
  }
}
@media (max-width: 1100px) {
  .program__image-ibg {
    transform: translateX(-30%);
  }
}
@media (max-width: 61.99875em) {
  .program__image-ibg {
    position: relative;
    transform: translateX(-46%);
  }
}

.block-program {
  flex: 0 1 50%;
  text-align: left;
}
.block-program:not(:last-child) {
  margin-bottom: 1.25rem;
}
.block-program__item {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.33;
  color: #837C78;
}

@media (min-width: 80.25em) {
  .technics {
    padding-top: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .technics {
    padding-top: clamp( 1.25rem , -1.239626556rem  +  12.4481327801vw , 8.75rem );
  }
}
@media (max-width: 20em) {
  .technics {
    padding-top: 1.25rem;
  }
}
@media (min-width: 80.25em) {
  .technics {
    padding-bottom: 4.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .technics {
    padding-bottom: clamp( 1.25rem , 0.1089211618rem  +  5.7053941909vw , 4.6875rem );
  }
}
@media (max-width: 20em) {
  .technics {
    padding-bottom: 1.25rem;
  }
}
.technics__title {
  color: #FDDCC8;
}
@media (min-width: 80.25em) {
  .technics__title {
    margin-right: 15.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .technics__title {
    margin-right: clamp( 0.00000625rem , -5.0829792272rem  +  25.4149273859vw , 15.3125rem );
  }
}
@media (max-width: 20em) {
  .technics__title {
    margin-right: 0.00000625rem;
  }
}
@media (min-width: 80.25em) {
  .technics__title {
    margin-bottom: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .technics__title {
    margin-bottom: clamp( 1.25rem , 0.2126556017rem  +  5.1867219917vw , 4.375rem );
  }
}
@media (max-width: 20em) {
  .technics__title {
    margin-bottom: 1.25rem;
  }
}
.technics__title span {
  background: radial-gradient(80.74% 113.09% at 19.26% 80.27%, #FFCFB3 0%, rgba(253, 220, 200, 0) 100%), radial-gradient(93.24% 87.76% at 93.24% 32.16%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.technics__row {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
@media (min-width: 80.25em) {
  .technics__row {
    min-height: 23.75rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .technics__row {
    min-height: clamp( 15rem , 12.0954356846rem  +  14.5228215768vw , 23.75rem );
  }
}
@media (max-width: 20em) {
  .technics__row {
    min-height: 15rem;
  }
}
.technics__column {
  min-width: 0;
  position: relative;
}
.technics__image {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-35%);
}
.technics__image img {
  width: 100%;
}
.technics__image::before {
  content: "";
  display: block;
  width: 9.875rem;
  height: 5.9375rem;
  background: #FDDCC8;
  border-radius: 5.9375rem;
  position: absolute;
  left: -11%;
  bottom: 15%;
}
.technics__image::after {
  content: "";
  display: block;
  height: 0.0625rem;
  border: 1px solid #FFFFFF;
  width: 40.6875rem;
  position: absolute;
  top: 31%;
  left: 100%;
}
@media (max-width: 61.99875em) {
  .technics__image {
    display: none;
  }
}
.technics__image-right {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(68%, -81%);
  opacity: 0.5;
}
@media (max-width: 1700px) {
  .technics__image-right {
    display: none;
  }
}
.slider__control {
  padding-top: 3.75rem;
  display: flex;
  align-items: center;
  gap: 3.4375rem;
}
.slider__button {
  flex: 1 1 auto;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.slider__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 0.5px dashed #fff;
  transform: translate(2px, 0px);
}
.slider__button::before {
  color: #fff;
  font-size: 0.5rem;
  transform: translate(0, 0);
}
.slider__button_next {
  flex-direction: row-reverse;
}
.slider__button_next::before {
  transform: rotate(180deg);
}
.slider__button_next::after {
  transform: translate(-2px, 1px);
}
.slider__navigation {
  flex: 0 0 3.125rem;
  font-family: YanoneKaffeesatz;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.09;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
}

.slide__title {
  font-family: YanoneKaffeesatz;
  font-weight: 300;
  font-size: 57px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #FFFFFF;
}
.slide p {
  font-weight: 500;
  line-height: 1.33;
  color: rgba(255, 255, 255, 0.5);
}
@media (min-width: 80.25em) {
  .slide p {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .slide p {
    font-size: clamp( 1.125rem , 1.0420124481rem  +  0.4149377593vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .slide p {
    font-size: 1.125rem;
  }
}
.slide li {
  font-weight: 500;
  line-height: 1.33;
  color: rgba(255, 255, 255, 0.5);
}
@media (min-width: 80.25em) {
  .slide li {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .slide li {
    font-size: clamp( 1.125rem , 1.0420124481rem  +  0.4149377593vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .slide li {
    font-size: 1.125rem;
  }
}

@media (min-width: 80.25em) {
  .discount {
    padding-top: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .discount {
    padding-top: clamp( 2.5rem , 0.4253112033rem  +  10.3734439834vw , 8.75rem );
  }
}
@media (max-width: 20em) {
  .discount {
    padding-top: 2.5rem;
  }
}
@media (min-width: 80.25em) {
  .discount {
    padding-bottom: 4.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .discount {
    padding-bottom: clamp( 2.5rem , 1.7738589212rem  +  3.6307053942vw , 4.6875rem );
  }
}
@media (max-width: 20em) {
  .discount {
    padding-bottom: 2.5rem;
  }
}
.discount__container {
  text-align: center;
}
.discount__title {
  text-align: center;
}
@media (min-width: 80.25em) {
  .discount__title {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .discount__title {
    margin-bottom: clamp( 1.25rem , -0.4097510373rem  +  8.2987551867vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .discount__title {
    margin-bottom: 1.25rem;
  }
}
.discount__button {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 317px;
  height: 99px;
}
@media (max-width: 29.99875em) {
  .discount__button {
    width: 270px;
  }
}
.discount .discount__timer {
  font-weight: 500;
}
@media (min-width: 80.25em) {
  .discount .discount__timer {
    font-size: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .discount .discount__timer {
    font-size: clamp( 3.125rem , 2.2951244813rem  +  4.1493775934vw , 5.625rem );
  }
}
@media (max-width: 20em) {
  .discount .discount__timer {
    font-size: 3.125rem;
  }
}
.discount p {
  text-transform: uppercase;
  font-family: YanoneKaffeesatz;
  font-weight: 300;
  color: #736C68;
  position: relative;
  z-index: 5;
}
@media (min-width: 80.25em) {
  .discount p {
    font-size: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .discount p {
    font-size: clamp( 2.125rem , 1.7930497925rem  +  1.6597510373vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .discount p {
    font-size: 2.125rem;
  }
}
.discount p:not(:last-child) {
  margin-bottom: 20px;
}
.discount p span {
  font-weight: 500;
}
.discount .accent {
  color: #BD7E69;
}
.discount .old {
  text-decoration: line-through;
}

@media (min-width: 80.25em) {
  .performance {
    padding-top: 6.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .performance {
    padding-top: clamp( 1.25rem , -0.4304979253rem  +  8.4024896266vw , 6.3125rem );
  }
}
@media (max-width: 20em) {
  .performance {
    padding-top: 1.25rem;
  }
}
@media (min-width: 80.25em) {
  .performance {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .performance {
    padding-bottom: clamp( 1.25rem , 0.627593361rem  +  3.112033195vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .performance {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 80.25em) {
  .performance__title {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .performance__title {
    margin-bottom: clamp( 1.25rem , -0.4097510373rem  +  8.2987551867vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .performance__title {
    margin-bottom: 1.25rem;
  }
}
.performance__title span {
  background: radial-gradient(83.2% 271.53% at 16.91% 101.27%, #682A15 0%, rgba(104, 42, 21, 0) 100%), radial-gradient(74.64% 241.69% at 73.78% 1.86%, #DC6F4A 0%, rgba(220, 111, 74, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.performance__row {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 61.99875em) {
  .performance__row {
    display: block;
  }
}
.performance__column:first-child {
  flex: 0 1 31.875rem;
}
.performance__column:last-child {
  flex: 1 1 auto;
}
.performance__block-item {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.33;
  color: #736C68;
  display: flex;
  gap: 0.6875rem;
}
.performance__block-item:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.performance__block-item::before {
  margin-top: 0.4375rem;
  font-size: 1.1875rem;
  color: #BD7E69;
  opacity: 0.5;
}
.performance__image img {
  width: 100%;
}

@media (min-width: 80.25em) {
  .reviews {
    padding-top: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .reviews {
    padding-top: clamp( 1.25rem , -1.239626556rem  +  12.4481327801vw , 8.75rem );
  }
}
@media (max-width: 20em) {
  .reviews {
    padding-top: 1.25rem;
  }
}
@media (min-width: 80.25em) {
  .reviews {
    padding-bottom: 4.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .reviews {
    padding-bottom: clamp( 1.25rem , 0.1089211618rem  +  5.7053941909vw , 4.6875rem );
  }
}
@media (max-width: 20em) {
  .reviews {
    padding-bottom: 1.25rem;
  }
}
.reviews__title {
  max-width: 39.375rem;
  margin-bottom: 4.375rem;
  color: #FDDCC8;
}
@media (min-width: 80.25em) {
  .reviews__title {
    margin-right: 15.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .reviews__title {
    margin-right: clamp( 0.00000625rem , -5.0829792272rem  +  25.4149273859vw , 15.3125rem );
  }
}
@media (max-width: 20em) {
  .reviews__title {
    margin-right: 0.00000625rem;
  }
}
.reviews__title span {
  background: radial-gradient(80.74% 113.09% at 19.26% 80.27%, #FFCFB3 0%, rgba(253, 220, 200, 0) 100%), radial-gradient(93.24% 87.76% at 93.24% 32.16%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.reviews__row {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
@media (min-width: 80.25em) {
  .reviews__row {
    min-height: 23.75rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .reviews__row {
    min-height: clamp( 15rem , 12.0954356846rem  +  14.5228215768vw , 23.75rem );
  }
}
@media (max-width: 20em) {
  .reviews__row {
    min-height: 15rem;
  }
}
.reviews__column {
  position: relative;
}
.reviews__column:first-child {
  flex: 0 0 28.7081339713%;
}
@media (max-width: 61.99875em) {
  .reviews__column:first-child {
    display: none;
  }
}
.reviews__column:nth-child(2) {
  flex: 1 1 auto;
  min-width: 0;
  padding-right: 15.3125rem;
  padding-left: 5.9375rem;
}
@media (max-width: 1700px) {
  .reviews__column:nth-child(2) {
    padding-right: 0;
  }
}
@media (max-width: 61.99875em) {
  .reviews__column:nth-child(2) {
    padding-left: 0;
  }
}
.reviews__image {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-35%);
}
.reviews__image img {
  width: 100%;
}
.reviews__image::before {
  content: "";
  display: block;
  width: 9.875rem;
  height: 5.9375rem;
  background: #FDDCC8;
  border-radius: 5.9375rem;
  position: absolute;
  left: -11%;
  bottom: 15%;
}
.reviews__image::after {
  content: "";
  display: block;
  height: 0.0625rem;
  border: 1px solid #FFFFFF;
  width: 40.6875rem;
  position: absolute;
  top: 31%;
  left: 100%;
}
@media (max-width: 61.99875em) {
  .reviews__image {
    display: none;
  }
}
.reviews__image-right {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(68%, -81%);
  opacity: 0.5;
}
@media (max-width: 1700px) {
  .reviews__image-right {
    display: none;
  }
}
@media (min-width: 80.25em) {
  .order {
    padding-top: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .order {
    padding-top: clamp( 1.25rem , -1.239626556rem  +  12.4481327801vw , 8.75rem );
  }
}
@media (max-width: 20em) {
  .order {
    padding-top: 1.25rem;
  }
}
@media (min-width: 80.25em) {
  .order {
    padding-bottom: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .order {
    padding-bottom: clamp( 1.25rem , -0.8246887967rem  +  10.3734439834vw , 7.5rem );
  }
}
@media (max-width: 20em) {
  .order {
    padding-bottom: 1.25rem;
  }
}
.order__title {
  width: 84.6889952153%;
  margin-right: auto;
  text-align: left;
}
@media (max-width: 61.99875em) {
  .order__title {
    width: 100%;
    text-align: right;
  }
}
.order__subtitle {
  width: 59.8086124402%;
  margin-right: auto;
  font-family: YanoneKaffeesatz;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.09;
  text-transform: uppercase;
  color: #9E938E;
}
@media (min-width: 80.25em) {
  .order__subtitle {
    margin-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .order__subtitle {
    margin-bottom: clamp( 1.25rem , -1.239626556rem  +  12.4481327801vw , 8.75rem );
  }
}
@media (max-width: 20em) {
  .order__subtitle {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .order__subtitle {
    width: 100%;
  }
}
.order__subtitle span {
  font-weight: 400;
}
.order__row {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 61.99875em) {
  .order__row {
    align-items: center;
  }
}
@media (max-width: 47.99875em) {
  .order__row {
    flex-direction: column-reverse;
  }
}
.order__column {
  position: relative;
}
.order__column:first-child {
  flex: 0 1 36.1244019139%;
}
.order__column:last-child {
  flex: 1 1 auto;
}
.order__image {
  width: 110%;
  position: absolute;
  z-index: 5;
  top: -22.5rem;
  right: 0;
  transform: translateX(24%);
}
@media (max-width: 61.99875em) {
  .order__image {
    position: relative;
    top: 0;
    transform: translateX(12%);
  }
}
.order__image img {
  width: 100%;
}

.form-order {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 80.25em) {
  .form-order__block {
    margin-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 80.25em) {
  .form-order__block {
    margin-bottom: clamp( 1.25rem , 0.005186722rem  +  6.22406639vw , 5rem );
  }
}
@media (max-width: 20em) {
  .form-order__block {
    margin-bottom: 1.25rem;
  }
}
.form-order__block input {
  width: 100%;
  height: 3.0625rem;
  background-color: transparent;
  border-bottom: 1px solid #CECAC7;
  outline: none;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.33;
  color: #C4C4C4;
}
.form-order__block input::placeholder {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.33;
  color: #C4C4C4;
}
.form-order__button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 62px;
}
.form-order__button input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  width: 100%;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
